@import url('https://fonts.cdnfonts.com/css/zona-pro');
@import url('https://fonts.cdnfonts.com/css/akrobat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.yellow-block {
    background-image: url("../img/d3-block.png");
    background-size: 1070px 1252px;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 160px;
}

body {
    background-color: #FAFAFA;
}

.logo {
    margin-left: 84px;
    margin-top: 23px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease;
}

nav {
    font-family: 'Akrobat', sans-serif;
    font-size: 20px;
    margin-top: 48px;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 126px;
}

.menu {
    display: flex;
    margin-left: 843px;
}

li {
    list-style-type: none;
    margin-left: 25px;
}

a:hover {
    color: #FF0000;
    transition: all 200ms ease;
}

.lang {
    background-color: #CE0002;
    width: 120px;
    height: 120px;
    color: white;
    font-family: 'Akrobat', sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    float: right;
    margin-left: 206px;
    transition: all 200ms ease;
}

.lang:hover {
    background-color: #FF0000;
    transition: all 200ms ease;
}

.main-section .container h1 {
    font-size: 72px;
    height: 255px;
    font-family: 'Zona Pro', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 188px;
}

.main-section .container .first-mn-section {
    display: flex;
}

.main-img {
    width: 786px;
    height: 733px;
    margin-top: -270px;
    float: right;
}

.container button {
    background-color: #CE0002;
    color: #fff;
    border: none;
    width: 192px;
    height: 110px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Akrobat', sans-serif;
    cursor: pointer;
    margin-left: 188px;
    transition: all 200ms ease;
    position: relative;
    top: -280px;
}

.container button:hover {
    background-color: #FF0000;
    transition: all 200ms ease;
}

.container button svg {
    margin-top: 10px;
}

.second-mn-section {
    display: flex;
}

.second-mn-section p {
    width: 606px;
    height: 95px;
    margin-left: 66px;
    font-family: 'Akrobat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: -75px;
}

.soc-links {
    margin-top: 255px;
    margin-left: 90px;
    position: relative;
    top: -346px;
}

.soc-links .link-item {
    margin-bottom: 18px;
    width: 32px;
    height: 32px;
}

.game-element {
    display: flex;
    justify-content: space-around;
    padding-bottom: 140px;
}

.main-game-element h2 {
    font-family: 'Zona Pro', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.main-game-element p {
    font-family: 'Akrobat', sans-serif;
    font-size: 24px;
    font-style: normal;
    width: 606px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 22px;
}

.main-game-element button {
    background-color: #CE0002;
    color: #fff;
    border: none;
    width: 192px;
    height: 94px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Akrobat', sans-serif;
    cursor: pointer;
    transition: all 200ms ease;
    position: relative;
}

.main-game-element button:hover {
    background-color: #FF0000;
    transition: all 200ms ease;
}

.end-btn button {
    background-color: #CE0002;
    color: #fff;
    border: none;
    width: 192px;
    height: 192px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Akrobat', sans-serif;
    cursor: pointer;
    margin-left: 148px;
    transition: all 200ms ease;
    position: relative;
}

.end-btn button:hover {
    background-color: #FF0000;
    transition: all 200ms ease;
}

.end-btn button svg {
    margin-top: 10px;
}

.end-btn {
    padding-bottom: 120px;
}

.project-list {
    width: 100%;
    height: 1326px;
    background-color: white;
}

.projects {
    display: flex;
    justify-content: space-around;
}

.project-list h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 142px;
    margin-left: 90px;
    padding-bottom: 80px;
}

.poject-element img {
    margin-bottom: 40px;
}

.proj-element-title {
    font-family: 'Zona Pro', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.proj-element-subtitle {
    font-family: 'Akrobat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 406px;
    margin-bottom: 40px;
}

.poject-element button {
    background-color: #CE0002;
    color: #fff;
    border: none;
    width: 192px;
    height: 94px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Akrobat', sans-serif;
    cursor: pointer;
    transition: all 200ms ease;
    position: relative;
}

.poject-element button:hover {
    background-color: #FF0000;
    transition: all 200ms ease;
}

footer {
    background-color: #EFEFEF;
    color: #7E7E7E;
    height: 54px;
    width: 100%;
    font-family: 'Akrobat', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-menu {
    display: flex;
}

footer a {
    color: #7E7E7E;
    transition: all 200ms ease;
}

footer a:hover {
    color: #494949;
    transition: all 200ms ease;
}

.footer-soc-links {
    display: flex;
}

.footer-link-item {
    margin-right: 18px;
}

footer p {
    margin-left: 27px;
}



